*{
    margin: 0px;
    padding: 0px;

}
body{
    background-color: #231942;
}
.heading{
    font-size: 50px;
}
.container{
    width: 100%;
    /*height: 100vmin;
    border: 2px solid black;
    /* translate: -136.5px;  */
    text-align: center;
    /*background-color: #231942;*/
    color: #E0B1CB;
    /* margin: 10vw; */
}
.pallet{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
    width: 400px;
    justify-self: center;
    /* width: auto;
    border: 2px solid black;
    translate: 50vw;*/
} 
.btn{
    height: 150px;
    font-size: 70px;
    background-color: #9F86C0;
    border: 2px transparent;
    border-radius: 10px;
    color: #231942;
    padding: 32px;
}
#reset-btn{
    font-size: large;
    background-color: #9F86C0;
    color: #231942;
    margin-top: 10px;
    width: 100px;
    height: 40px;
}